.pages {
  font-size: var(--step-1);
}
.tags-list {
  display: flex;
  flex-direction: row;
  gap: var(--sp-s);
  flex-wrap: wrap;
  font-size: var(--step--1);
}
.tags-list li a,
header nav ul li a[data-state="active"],
footer nav ul li a[data-state="active"],
.pagination__inner a {
  padding: calc(var(--step--1)/4);
  border-radius: calc(var(--step--1)/2);
}
.tags-list li a,
header nav ul li a:hover,
header nav ul li a:focus,
footer nav ul li a:hover,
footer nav ul li a:focus,
header nav ul li a[data-state="active"],
footer nav ul li a[data-state="active"],
.pagination__inner a:hover,
.pagination__inner a:focus {
  background-color: light-dark(var(--dm-background), var(--lm-background));
  border: solid 0.3vw light-dark(var(--dm-background), var(--lm-background));
  color: light-dark(var(--dm-heading), var(--lm-heading));
  padding: calc(var(--step--1)/4);
  border-radius: calc(var(--step--1)/2);
}
.tags-list li a:hover,
.tags-list li a:focus,
header nav ul li a,
header nav ul li a[data-state="active"]:hover,
header nav ul li a[data-state="active"]:focus,
footer nav ul li a,
footer nav ul li a[data-state="active"]:hover,
footer nav ul li a[data-state="active"]:focus,
.pagination__inner a {
  background-color: light-dark(var(--lm-background), var(--dm-background));
  color: light-dark(var(--lm-heading), var(--dm-heading));
  border: solid 0.3vw light-dark(var(--lm-heading), var(--dm-heading));
  padding: calc(var(--step--1)/4);
  border-radius: calc(var(--step--1)/2);
}
header nav ul li a:not([data-state="active"]),
footer nav ul li a:not([data-state="active"]) {
  border-color: light-dark(var(--lm-background), var(--dm-background));
}
.pagination {
  margin: var(--step--1);
}
.pagination__inner a {
  margin: var(--step--2);
}
[data-direction="forwards"]::after {
  content: " >>"
}
[data-direction="backwards"]::before {
  content: "<< "
}