{%- set tags = post.data.tags -%}
<li class="card {{ post.data.contentType }}">  
  <header>
    <a href="{{ post.url }}"><h2>{{ post.data.title }}{%if post.data.subTitle %}<br><span>{{post.data.subTitle}}</span>{% endif %}</h2></a>
  </header>
  <main>
    <p>{{ post.data.description }}</p>
    <small><time datetime="{{ post.data.date }}">{{ post.data.date.toDateString() }}</time></small>
  </main>
  <footer>
    <ul class="tags">
      {% for tag in tags %}{% if tag !== "leet" %}{% if tag !== "link" %}{% if tag !== "post" %}{% if tag !== "book" %}<li>{{ tag }}</li>{% endif %}{% endif %}{% endif %}{% endif %}{% endfor %}
    </ul>
  </footer>
</li>