<p class="h-card" hidden>
  <img class="u-photo" src={{ author.avatar }} alt="Avatar of {{ author.name }}" />
  <a class="p-name u-url" href={{ site.url }}>{{ author.name }}</a>
  <a class="u-email" href="mailto:{{ author.email }}">{{ author.email }}</a>, 
  <span class="p-locality">{{ author.location }}</span>
  <span class="p-country-name">{{ author.country }}</span>
  <span class="p-note">{{ author.note }}</span>
</p>