{%- set canonical = site.url + page.url -%}
{%- set meta_title = title | safe | striptags(true) -%}
{%- set meta_description = description | default(site.description) | safe | striptags(true) -%}
{%- set meta_image = photo | default(site.url + author.avatar) -%}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ meta_title }} | {{ site.company }}</title>

    <link rel="self" href="{{ site.url }}/feed.xml">
    <link rel="alternate" type="application/rss+xml" title="Events Feed" href="{{ site.url }}/feed.xml">
    <!-- Webmentions -->
    <link rel="webmention" href="https://webmention.io/letorey.co.uk/webmention" />
    <link rel="pingback" href="https://webmention.io/letorey.co.uk/xmlrpc" />
    <!-- link rel="authorization_endpoint" href="https://indieauth.com/auth" -->
    <!--link rel="token_endpoint" href="https://tokens.indieauth.com/token" -->
    <!-- link rel="openid.delegate" href="/" / -->
    <!-- link rel="openid.server" href="https://openid.indieauth.com/openid" / -->

    
        <link rel="icon" href="/img/favicon.svg" sizes="512x512">
        <link rel="apple-touch-icon" href="/img/favicon.svg">
        <link rel="apple-touch-icon-precomposed" href="/img/favicon.svg">
        <link rel="msapplication-square310x310logo" href="/img/favicon.svg">
    

    <link rel="author" href="/humans.txt">
    <!-- link rel="manifest" href="/manifest.json" -->

    <meta name="author" content="{{ author.name }}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{ site.company }}">
    <meta name="apple-mobile-web-app-title" content="{{ site.company }}">
    <meta name="msapplication-starturl" content="{{ site.url }}">
    <meta name="description" content="{{ meta_description }}">
    <meta name="theme-color" content="{{ palette }}">
    <meta name="msapplication-navbutton-color" content="{{ palette }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="supported-color-schemes" content="light dark">

    <meta http-equiv="cleartype" content="on">
    
    {% if tags and tags.includes('httpstatus') %}
        <meta name="robots" content="noindex,nofollow">
    {% else %}
        <link rel="canonical" href="{{ canonical }}">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:creator" content="@{{ author.twitter }}">
        <meta name="twitter:title" content="{{ meta_title }} | {{ site.title }}">
        <meta name="twitter:description" content="{{ meta_description }}">
        <meta name="twitter:image" content="{{ meta_image }}">
        <meta name="twitter:domain" content="{{ site.url }}">
        <meta name="twitter:widgets:theme" content="light">
        <meta name="twitter:widgets:link-color" content="{{ palette }}">
        <meta name="twitter:widgets:border-color" content="{{ palette }}">
        <!-- OpenGraph -->
        <meta property="og:type" content="website">
        <meta property="og:description" content="{{ meta_description }}">
        <meta property="og:locale" content="{{ site.locale }}">
        <meta property="og:url" content="{{ canonical }}">
        <meta property="og:image" content="{{ meta_image }}">
    {% endif %}
    <style>
        /* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1800,24,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
        /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,l,xl,12 */


        :root {
          --step--2: clamp(0.5628rem, 0.479rem + 0.4187vi, 1.2663rem);
          --step--1: clamp(0.7502rem, 0.6386rem + 0.5582vi, 1.6879rem);
          --step-0: clamp(1rem, 0.8512rem + 0.744vi, 2.25rem);
          --step-1: clamp(1.333rem, 1.1346rem + 0.9918vi, 2.9993rem);
          --step-2: clamp(1.7769rem, 1.5125rem + 1.3221vi, 3.998rem);
          --step-3: clamp(2.3686rem, 2.0161rem + 1.7623vi, 5.3293rem);
          --step-4: clamp(3.1573rem, 2.6875rem + 2.3492vi, 7.104rem);
          --step-5: clamp(4.2087rem, 3.5824rem + 3.1315vi, 9.4696rem);
          --dm-background: #002442;
          --dm-text: #f4f5f5;
          --dm-heading: #ffb714;
          --lm-background: #f4f5f5;
          --lm-text: #002442;
          --lm-heading: #971c12;
          /* Space 3xs: 5px → 5px */
          --sp-3xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
          /* Space 2xs: 9px → 10px */
          --sp-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
          /* Space xs: 14px → 15px */
          --sp-xs: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
          /* Space s: 18px → 20px */
          --sp-s: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
          /* Space m: 27px → 30px */
          --sp-m: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
          /* Space l: 36px → 40px */
          --sp-l: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem);
          /* Space xl: 54px → 60px */
          --sp-xl: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);
          /* Space 2xl: 72px → 80px */
          --sp-2xl: clamp(4.5rem, 4.3261rem + 0.8696vi, 5rem);
          /* Space 3xl: 108px → 120px */
          --sp-3xl: clamp(6.75rem, 6.4891rem + 1.3043vi, 7.5rem);

          /* One-up pairs */
          /* Space 3xs-2xs: 5px → 10px */
          --sp-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vi, 0.625rem);
          /* Space 2xs-xs: 9px → 15px */
          --sp-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vi, 0.9375rem);
          /* Space xs-s: 14px → 20px */
          --sp-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
          /* Space s-m: 18px → 30px */
          --sp-s-m: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
          /* Space m-l: 27px → 40px */
          --sp-m-l: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
          /* Space l-xl: 36px → 60px */
          --sp-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem);
          /* Space xl-2xl: 54px → 80px */
          --sp-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vi, 5rem);
          /* Space 2xl-3xl: 72px → 120px */
          --sp-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vi, 7.5rem);

          /* Custom pairs */
          /* Space s-xl: 18px → 60px */
          --sp-s-xl: clamp(1.125rem, 0.212rem + 4.5652vi, 3.75rem);
          /* Space m-2xl: 27px → 80px */
          --sp-m-2xl: clamp(1.6875rem, 0.5353rem + 5.7609vi, 5rem);
          /* Space l-3xl: 36px → 120px */
          --sp-l-3xl: clamp(2.25rem, 0.4239rem + 9.1304vi, 7.5rem);
        }
        @media (prefers-color-scheme: light) {
            body {
                background-color: var(--lm-background);
                color: var(--lm-text);
            }
            h1, h2, h3, h4, h5, h6, a {
                color: var(--lm-heading);
            }
            .spoilers {
                color: var(--lm-text);
                background-color: var(--lm-text);
            }
        }
        @media (prefers-color-scheme: dark) {
            body {
                background-color: var(--dm-background);
                color: var(--dm-text);
            }
            h1, h2, h3, h4, h5, h6, a {
                color: var(--dm-heading);
            }
            .spoilers {
                color: var(--dm-text);
                background-color: var(--dm-text);
            }
        }
        html {
            font-size: var(--step-0);
            padding: 0;
        }
        h1, h2, h3, h4, h5, h6,
        dt, blockquote, figcaption {
          text-wrap: balance;
          max-inline-size: 25ch;
        }
        p, dd {
          text-wrap: pretty;
          max-inline-size: 60ch;
          margin-bottom: var(--sp-m)
        }
        pre, li {
            max-inline-size: 60ch;
        }
        small {
            font-size: var(--step--2);
        }
        blockquote {
            max-inline-size: 55ch;
        }
        h1 {
            font-size: var(--step-5);
            margin-bottom: var(--sp-s)
        }
        h2 {
            font-size: var(--step-4);
        }
        h3 {
            font-size: var(--step-3);
        }
        h4 {
            font-size: var(--step-2);
        }
        h5 {
            font-size: var(--step-1);
        }
        code, pre {
            overflow: scroll;
        }
        footer ul:not(.hidden) {
          list-style: none;
          display: flex;
          justify-content: space-around;
        }
        /* picture & img & iframe */
        picture, img, iframe {
          width: 95%;
          max-width: 60ch;
          height: auto;
        }
        /* Cards */

        .cards {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
          list-style: none;
          adding: var(--sp-s-m);
          gap: var(--sp-s-m);
        }

        .card {
            padding: 0;
            border: 2px solid;
            border-radius: var(--sp-xs-s);
            header, main, footer {
                padding: var(--sp-3xs);
            }
            h2 {
                font-size: var(--step-1);
                margin: var(--sp-3xs);
            }
            p {
                font-size: var(--step--2);
            }
            @media (prefers-color-scheme: light) {
                border-color: var(--lm-heading);
                &:hover {
                    background-color: var(--lm-heading);
                    color: var(--lm-background);
                    h2 {
                        color: var(--lm-background);
                    }
                }
            }
            @media (prefers-color-scheme: dark) {
                border-color: var(--dm-heading);
                &:hover {
                    background-color: var(--dm-heading);
                    color: var(--dm-background);
                    h2 {
                        color: var(--dm-background);
                    }
                }
            }
            .tags {
                margin: 0;
                display: flex;
                gap: var(--sp-3xs-2xs);
                font-size: var(--step--2);
                flex-wrap: wrap;
                justify-content: flex-start;
                padding: 0;
            }
            
        }

    </style>
    <!-- look mum no JavaScript -->
</head>
