{%- set canonical = site.url + page.url -%}
{%- set meta_title = title | safe | striptags(true) -%}
{%- set meta_description = description | default(site.description) | safe | striptags(true) -%}
{%- set meta_image = photo | default(site.url + author.avatar) -%}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ meta_title }} | {{ site.company }}</title>

    <link rel="self" href="{{ site.url }}/feed.xml">
    <link rel="alternate" type="application/rss+xml" title="Events Feed" href="{{ site.url }}/feed.xml">
    <!-- Webmentions -->
    <link rel="webmention" href="https://webmention.io/letorey.co.uk/webmention" />
    <link rel="pingback" href="https://webmention.io/letorey.co.uk/xmlrpc" />
    <!-- link rel="authorization_endpoint" href="https://indieauth.com/auth" -->
    <!--link rel="token_endpoint" href="https://tokens.indieauth.com/token" -->
    <!-- link rel="openid.delegate" href="/" / -->
    <!-- link rel="openid.server" href="https://openid.indieauth.com/openid" / -->

    
        <link rel="icon" href="/images/favicon.svg" sizes="512x512">
        <link rel="apple-touch-icon" href="/images/favicon.svg">
        <link rel="apple-touch-icon-precomposed" href="/images/favicon.svg">
        <link rel="msapplication-square310x310logo" href="/images/favicon.svg">
    

    <link rel="author" href="/humans.txt">
    <link rel="manifest" href="/manifest.json">

    <meta name="author" content="{{ author.name }}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{ site.company }}">
    <meta name="apple-mobile-web-app-title" content="{{ site.company }}">
    <meta name="msapplication-starturl" content="{{ site.url }}">
    <meta name="description" content="{{ meta_description }}">
    <meta name="theme-color" content="{{ palette }}">
    <meta name="msapplication-navbutton-color" content="{{ palette }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="supported-color-schemes" content="light dark">

    <meta http-equiv="cleartype" content="on">
    
    {% if tags and tags.includes('httpstatus') %}
        <meta name="robots" content="noindex,nofollow">
    {% else %}
        <link rel="canonical" href="{{ canonical }}">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:creator" content="@{{ author.twitter }}">
        <meta name="twitter:title" content="{{ meta_title }} | {{ site.title }}">
        <meta name="twitter:description" content="{{ meta_description }}">
        <meta name="twitter:image" content="{{ meta_image }}">
        <meta name="twitter:domain" content="{{ site.url }}">
        <meta name="twitter:widgets:theme" content="light">
        <meta name="twitter:widgets:link-color" content="{{ palette }}">
        <meta name="twitter:widgets:border-color" content="{{ palette }}">
        <!-- OpenGraph -->
        <meta property="og:type" content="website">
        <meta property="og:description" content="{{ meta_description }}">
        <meta property="og:locale" content="{{ site.locale }}">
        <meta property="og:url" content="{{ canonical }}">
        <meta property="og:image" content="{{ meta_image }}">
    {% endif %}
    <style>
        /* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1800,24,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

        :root {
          --step--2: clamp(0.64rem, 0.5959rem + 0.2207vi, 0.8442rem);
          --step--1: clamp(0.8rem, 0.7297rem + 0.3517vi, 1.1253rem);
          --step-0: clamp(1rem, 0.8919rem + 0.5405vi, 1.5rem);
          --step-1: clamp(1.25rem, 1.0879rem + 0.8103vi, 1.9995rem);
          --step-2: clamp(1.5625rem, 1.324rem + 1.1923vi, 2.6653rem);
          --step-3: clamp(1.9531rem, 1.6072rem + 1.7295vi, 3.5529rem);
          --step-4: clamp(2.4414rem, 1.9453rem + 2.4806vi, 4.736rem);
          --step-5: clamp(3.0518rem, 2.3466rem + 3.5258vi, 6.3131rem);
        }
        p {
            max-width: 60ch;
        }
        small {
            font-size: var(--step--2);
        }
        p {
            font-size: var(--step-0);
        }
        h1, h2, h3, h4, h5 {
            text-wrap: balance;
        }
        h1 {
            font-size: var(--step-5);
        }
        h2 {
            font-size: var(--step-4);
        }
        h3 {
            font-size: var(--step-3);
        }
        h4 {
            font-size: var(--step-2);
        }
        h5 {
            font-size: var(--step-1);
        }
    </style>
    <script>document.documentElement.classList.remove("no-js");</script>
</head>