<header>
  <h1>{{ title | default(site.title) }}</h1>
  <p><small>This is the current rebuild of my site, <a href="https://new.letorey.co.uk">click to see the Old version</a> (before you tell me I know that the url is <em>new.letorey.co.uk</em> that is because the ssl certificate works for this but not <em>old</em>).</small></p>
</header>