<!DOCTYPE html>
<html lang="{{ site.locale }}" class="{% if theme %}{{ theme }} {% endif %}no-js">
{%- include 'head.njk' -%}
<body>
  {% include 'header.njk' %}
  {{ content | safe }}
  {% include 'footer.njk' %}
</body>
</html>